body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    display: flex;
    justify-content: center;
    background-color: #101010;
    overflow-x: hidden;
  }
  

  body.initial-load {
    justify-content: center; /* Keep centered to show only the GIF initially */
  }


  .navbar, .splash-image {
    display: none; /* Hide these elements initially */
  }

  @font-face {
    font-family: "syne-reg";
    src: url(https://fonts.googleapis.com/css2?family=Syne:wght@400..800&display=swap);
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
  }

   @font-face {
    font-family: "digibop";
    src: url('assets/fonts/DigiBop-Italic.otf') format('otf'), url('assets/fonts/DigiBop-Italic.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
   }
  

/* Navbar and Menu */
.navbar {
    background-color: #101010;
    color: #F3F3F3;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
    font-family: "syne-reg", sans-serif;
}

.navbar a:hover{
    color: #E10374;
}

/* Ensuring logo and title are next to each other, aligned to the left */
.navbar-left {
    display: flex;
    align-items: center;
}

.logo img {
    margin-left: 10%;
    height: 40px; /* Adjust based on your logo */
    margin-right: 15px; /* Space between logo and title */
}

.page-title {
    color: #E10374;
    font-size: 20px; /* Adjust based on your preference */
    font-family: 'digibop', sans-serif; /* Your custom font */
    margin: 0; /* Ensuring no extra space around the title */
}

/* Styles for the right side of the navbar */
.navbar-right {
    display: flex;
    align-items: center;
}

.hamburger {
    display: none; /* Adjust based on your responsive design needs */
    margin-left: auto; /* Pushes the hamburger to the right */
    font-size: 24px;
    color: #E10374;
    background-color: #101010;
    border-radius: 10px;
    border: none;
}

.menu {
    display: flex;
    margin-left: auto; /* This will push your menu to the far right */
}

.menu a {
    text-decoration: none;
    color: #F3F3F3;
    padding: 0 15px;
}

@media (max-width: 768px) {
    .hamburger {
        display: block;
    }
  
    .menu {
        display: none;
    }
  
    .menu.active {
        display: flex;
        flex-direction: column;
    }
    .splash-image{
        rotate: 90deg;
    }
}


  /* Navbar Animation */
@keyframes slideDown {
    from {
      transform: translateY(-100%);
    }
    to {
      transform: translateY(0);
    }
  }
  
  .navbar {
      animation: slideDown 0.5s ease-out forwards;
      /* animation-delay: 3s; */
  }

   /* Splash Image */
   .splash-image {
    width: 100%;
    height: auto;
    display: block;
    margin-top: 60px; /* Adjust based on navbar's height to ensure visibility */
  }

  /* Fade-in and scale-up animation for the pop-over */
@keyframes popIn {
    from {
      opacity: 0;
      transform: translate(-50%, -50%) scale(0.9);
    }
    to {
      opacity: 1;
      transform: translate(-50%, -50%) scale(1);
    }
  }


  /* popover stuff */

  .pop-over {
    width: 300px;
    padding: 20px;
    padding-top: 40px; /* Adjust padding to make space for close button */
    border: 1px solid #c50066;
    border-radius: 5px;
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-color: #101010;
    text-align: center;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    z-index: 100; /* Ensure it's above other content */
    display: none; /* Ensure it's hidden initially */
    opacity: 0; /* Start with pop-over fully transparent */
    /* Apply the animation */
    animation: popIn 0.5s ease-out forwards;
  }

  #question{
    font-family: 'syne-reg', sans-serif;
    margin: 5%;
    color: #F3F3F3;
  }
  
  .close-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    border: none;
    background: none;
    font-size: 20px;
    cursor: pointer;
    color: #F3F3F3;
  }
  
  .color-btn {
    margin: 10px;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .color-btn:focus, .close-btn:focus {
    outline: none;
  }
  
  #feedback {
    margin-top: 20px;
    color: #F3F3F3;
    font-family: 'syne-reg', sans-serif;
  }

  

  
  /* Styling for the Fixed Image */
.fixed-image-container img {
    position: fixed;
    bottom: 10px; /* Adjust as needed */
    right: 10px; /* Adjust as needed */
    width: 5%; /* Adjust as needed */
    height: 80px;
    z-index: 1500; /* Ensure it's above most content but below fullscreen overlays/modals if any */
}

#world{
  min-width: 80px;
  max-width: 80px;
}

/* New CSS */

.ent{
  margin: 5%;
  margin-bottom: 70%;
}

#regText{
  color: #F3F3F3;
  font-family: 'syne-reg', sans-serif;
  font-size: 120%;
}

#regTitle{
  color: #F3F3F3;
  font-family: 'digibop', sans-serif;
  text-align: center;
  font-size: 370%;
}

#smallerTitle{
  color: #F3F3F3;
  font-family: 'digibop', sans-serif;
  font-size: 270%;
}

.larger{
  height: 200%;
}

.image-row {
    display: flex;
    justify-content: center;
    align-items: center; /* Ensure images are centered vertically */
    margin-top: 20px;
    margin-bottom: 20px;
}

.image-row .smaller {
    width: 22.333%; /* Each image takes a third of the container */
    height: 100%; /* Match heights across all images */
    object-fit: cover; /* Ensures images cover their sections without distortion */
    transition: transform 0.3s ease; /* Smooth transition for scaling on hover */
    margin: 1%;
}

.image-row .larger {
  width: 50.2%; /* Each image takes a third of the container */
  height: 100%; /* Match heights across all images */
  object-fit: cover; /* Ensures images cover their sections without distortion */
  transition: transform 0.3s ease; /* Smooth transition for scaling on hover */
  margin: 1%;
}

.image-row img:hover {
    transform: scale(1.05); /* Scale up slightly on hover */
}

@media (max-width: 768px) {
    .image-row img:not(:nth-child(2)) {
        display: none; /* Hide the first and third images on smaller screens */
    }

    .image-row img {
        width: 100%; /* The remaining image takes full width */
    }

    .image-row img:hover {
        transform: none; /* Disable hover effects on mobile */
    }
}

/* Adjustments for mobile */
@media (max-width: 600px) {
    body, html {
        overflow-x: hidden; /* Prevents horizontal scrolling */
    }

    #regText{
        font-size: 14px; /* Adjust font size for readability on mobile */
    }

    .regInput {
      margin: 1%;
  }

  .image-row .smaller {
    width: 100%; /* Each image takes a third of the container */
    height: 100%;
}
.page-title{
  color: #101010;
}

  .image-row .larger {
    width: 100%; /* Each image takes a third of the container */
    height: 100%;
  }


    .navbar .logo img, .page-title {
        font-size: 14px; /* Smaller font size for navbar elements */
    }

    .fixed-image-container img {
        width: 50px; /* Adjust fixed image size on mobile */
        height: auto; /* Maintain aspect ratio */
        bottom: 10px; /* Adjust positioning */
    }
}


.center{
  text-align: center;
}

#subButton, .regInput, #scrollMenu{
  margin: 20px;
  padding: 5px;
  font-family: 'syne-reg', sans-serif;
  font-size: 16px;
  color: #E10374;
  background-color: #101010;
  border: 2px solid #E10374;
  border-radius: 5px;
}
