body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    display: flex;
    justify-content: center;
    background-color: #101010;
    overflow-x: hidden;
  }
  

  body.initial-load {
    justify-content: center; /* Keep centered to show only the GIF initially */
  }


  .navbar, .splash-image {
    display: none; /* Hide these elements initially */
  }

  @font-face {
    font-family: "syne-reg";
    src: url(https://fonts.googleapis.com/css2?family=Syne:wght@400..800&display=swap);
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
  }

   @font-face {
    font-family: "digibop";
    src: url('assets/fonts/DigiBop-Italic.otf') format('otf'), url('assets/fonts/DigiBop-Italic.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
   }
  

/* Navbar and Menu */
.navbar {
    background-color: #101010;
    color: #F3F3F3;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
    font-family: "syne-reg", sans-serif;
}

.navbar a:hover{
    color: #E10374;
}

/* Ensuring logo and title are next to each other, aligned to the left */
.navbar-left {
    display: flex;
    align-items: center;
}

.logo img {
    margin-left: 10%;
    height: 40px; /* Adjust based on your logo */
    margin-right: 15px; /* Space between logo and title */
}

.page-title {
    color: #E10374;
    font-size: 20px; /* Adjust based on your preference */
    font-family: 'digibop', sans-serif; /* Your custom font */
    margin: 0; /* Ensuring no extra space around the title */
}

/* Styles for the right side of the navbar */
.navbar-right {
    display: flex;
    align-items: center;
}

.hamburger {
    display: none; /* Adjust based on your responsive design needs */
    margin-left: auto; /* Pushes the hamburger to the right */
    font-size: 24px;
    color: #F3F3F3;
}

.menu {
    display: flex;
    margin-left: auto; /* This will push your menu to the far right */
}

.menu a {
    text-decoration: none;
    color: #F3F3F3;
    padding: 0 15px;
}

@media (max-width: 768px) {
    .hamburger {
        display: block;
    }
  
    .menu {
        display: none;
    }
  
    .menu.active {
        display: flex;
        flex-direction: column;
    }
    .splash-image{
        rotate: 90deg;
    }
}


  /* Navbar Animation */
@keyframes slideDown {
    from {
      transform: translateY(-100%);
    }
    to {
      transform: translateY(0);
    }
  }
  
  .navbar {
      animation: slideDown 0.5s ease-out forwards;
      /* animation-delay: 3s; */
  }

   /* Splash Image */
   .splash-image {
    width: 100%;
    height: auto;
    display: block;
    margin-top: 60px; /* Adjust based on navbar's height to ensure visibility */
  }

  /* Fade-in and scale-up animation for the pop-over */
@keyframes popIn {
    from {
      opacity: 0;
      transform: translate(-50%, -50%) scale(0.9);
    }
    to {
      opacity: 1;
      transform: translate(-50%, -50%) scale(1);
    }
  }


  /* popover stuff */

  .pop-over {
    width: 300px;
    padding: 20px;
    padding-top: 40px; /* Adjust padding to make space for close button */
    border: 1px solid #c50066;
    border-radius: 5px;
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-color: #101010;
    text-align: center;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    z-index: 100; /* Ensure it's above other content */
    display: none; /* Ensure it's hidden initially */
    opacity: 0; /* Start with pop-over fully transparent */
    /* Apply the animation */
    animation: popIn 0.5s ease-out forwards;
  }

  #question{
    font-family: 'syne-reg', sans-serif;
    margin: 5%;
    color: #F3F3F3;
  }
  
  .close-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    border: none;
    background: none;
    font-size: 20px;
    cursor: pointer;
    color: #F3F3F3;
  }
  
  .color-btn {
    margin: 10px;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .color-btn:focus, .close-btn:focus {
    outline: none;
  }
  
  #feedback {
    margin-top: 20px;
    color: #F3F3F3;
    font-family: 'syne-reg', sans-serif;
  }

  /* timeline stuff */

  .timeline-container {
    position: relative;
    width: 100%;
    padding-left: 100px; /* Adjust as necessary to align the timeline on the left */
  }
  
  .timeline-line {
    position: absolute;
    left: 50px; /* Adjust line position as per padding */
    top: 0;
    bottom: 0;
    width: 4px;
    background-color: #333;
  }
  
  .timeline-point {
    position: relative;
    margin: 50px 0; /* Increase spacing for visibility */
  }
  
  .timeline-point::before {
    content: '';
    position: absolute;
    left: 14px; /* Center circle on the line */
    transform: translateX(-50%);
    height: 20px;
    width: 20px;
    background-color: #999;
    border-radius: 50%;
    transition: background-color 0.3s; /* Smooth transition for color change */
  }
  
  .content {
    margin-left: 80px; /* Ensure content is to the right of the line */
    opacity: 0.5; /* Less focus on non-active items */
    transition: opacity 0.3s ease-in-out;
  }
  
  /* Highlight effect when a point is in focus */
  .timeline-point.in-focus .content {
    opacity: 1; /* Fully focus on active item */
  }
  
  .timeline-point.in-focus::before {
    background-color: #007bff; /* Highlight color for active point */
  }

  .timeline-point:not(.in-focus) .content {
    /* Dim non-focused points to make the focused one stand out more */
    opacity: 0.5;
}

.timeline-point.in-focus .content {
    /* Brighten and scale up the focused point for emphasis */
    opacity: 1;
    transform: scale(1.05);
    transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;
}

  
  /* Styling for the Fixed Image */
.fixed-image-container img {
    position: fixed;
    bottom: 10px; /* Adjust as needed */
    right: 10px; /* Adjust as needed */
    width: 5%; /* Adjust as needed */
    height: 80px;
    z-index: 1500; /* Ensure it's above most content but below fullscreen overlays/modals if any */
}

#world{
  min-width: 80px;
  max-width: 80px;
}

/* New CSS */

.ent{
  margin: 5%;
  margin-bottom: 70%;
}

#regText{
  color: #F3F3F3;
  font-family: 'syne-reg', sans-serif;
  font-size: 120%;
}

#regTitle{
  color: #F3F3F3;
  font-family: 'digibop', sans-serif;
  text-align: center;
  font-size: 370%;
}

#smallerTitle{
  color: #F3F3F3;
  font-family: 'digibop', sans-serif;
  font-size: 270%;
}

.image-row {
  display: flex;
  justify-content: center;
  align-items: stretch; /* Align items stretch to fill the container */
  width: 100%;
  margin-top: 20px;
  margin-bottom: 5%;
  height: 30vw; /* Adjust this value as needed to fit your design */
}

.image-row img {
  height: 100%; /* All images will scale to the same height */
  flex: 1; /* Distributes space evenly, but can be adjusted if necessary */
  object-fit: cover; /* Ensures images do not stretch */
  transition: transform 0.3s ease;
  margin: 0 5px; /* Reduced margin for a tighter layout */
}

.image-row img:hover {
  transform: scale(1.05); /* Subtle scale effect on hover */
}

@media (max-width: 600px) {
  .image-row {
      height: 60vw; /* Larger relative height on smaller screens */
  }

  .image-row img {
      margin: 5px 0; /* Adjust margins for better spacing on small screens */
  }
}

.center{
  text-align: center;
}

#subButton, .regInput, #scrollMenu{
  margin: 20px;
  padding: 10px;
  font-family: 'syne-reg', sans-serif;
  font-size: 16px;
  color: #E10374;
  background-color: #101010;
  border: 2px solid #E10374;
  border-radius: 5px;
}
